.entete {
    background-image: url('portrait-belle-femme-maquillage-lumineux-chapeau-lunettes-soleil-fond-studio-vert-marque-coiffure-elegantes-mode-couleurs-ete-concept-beaute-mode-publicite-souriant_155003-25571.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 90px 0 0 20px;
    height: 40rem;
    transition: all 0.5s ease-in-out;
}
.entete.scrolled {
    margin: 50px 0 0 10px;
    height: 30rem;
}
.content {
    height: 2000px;
}

.section-title {
    font-size: 80px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 90;
    color: hsl(219, 9%, 45%);
    margin-bottom: 2%;
    font-weight: 700;
    margin-right: 10rem;
    position: relative;
    line-height: 25.6px;
}

.bests-items {
    margin: 30px 50px 0px 50px;
}

.best-plants {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.style-box {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-left: 1rem;
    margin-bottom: -2rem;
}

.no-grid {
    min-width: 50px;
    height: 500px;
    flex: 1;
}

.style-name {
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;
}

.style-price {
    color: #ADD981;
    font-size: 14px;
    font-weight: 800;
}

.all-plants {
    margin: 100px;
}

a {
    text-decoration: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.style-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    gap: 10px;
}